<!DOCTYPE html>
<html>
  <head>
    <title>Stereo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta charset="utf-8">
    <meta name="author" content="Steph Meyering">

    <%# LinkedIn Open Graph data %>
    <meta property="og:title" content="StereoCloud">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A music streaming and sharing application inspired by Soundcloud. Built with Rails, JavaScript, React, Redux, PostgreSQL & Amazon S3">
    <%# <meta name="image" property="og:image" content="https://i.imgur.com/u1h07HM.png?1" /> %>
    <%= tag :meta, property: 'og:image', content: image_url('ogpreview.png') %>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:url" content="https://stereocloud.herokuapp.com/#/">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
